.floatingButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #25D366;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 1000;
}
.floatingButton:hover {
  background-color: #128C7E;
  transform: scale(1.1);
}
@media (max-width: 600px) {
  .floatingButton {
      width: 50px;
      height: 50px;
      bottom: 20px;
      right: 20px;
  }
}